# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environnement
.env
.env.local

# Fichiers temporaires
*.inp
*.tmp
tmp/
temp/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Render
render.yaml